@import 'https://fonts.googleapis.com/css?family=Antic+Slab';

* {
	padding: 0;
	margin: 0;
}

body {
	font-family: Helvetica, Arial, sans-serif;
	font-size: 15px;
	line-height: 1.5;
	color: #444;
}

header {
	margin-bottom: 0;
}

header img {
	width: 350px;
}

nav {
	font-size: 1.2em;
	font-family: 'Antic Slab', Helvetica, Arial, sans-serif;
	margin-top: -6.6em;
}

nav a {
	margin: 5px 10px 0;
}

main, section {
	background-image: url("../images/background-dots.png");
    background-repeat: repeat;
}

main {
	border-bottom: 1px solid #666;
	padding: 20px 0;
}

footer {
	background-color: rgba(102, 48, 144, .25);
	font-size: .8em;
	padding: 15px 0;
}

aside {
	float: right;
}

aside img{
	width: 30px;
	margin: 0 5px 5px 0;
}

p {	
	font-family: Helvetica, Arial, sans-serif;
	font-size: 1em;
	line-height: 1.5;
}

a {
	text-decoration: none;
	color: rgb(102, 48, 144);
}

a:hover {
	color: inherit;
}

ul {
	padding-left: 25px;
}

.clear:after {
	content:"";
	display: block;
	clear: both;
}

#welcome {
	background-image: url("../images/hero-image.png");
	background-size: cover;
	width: 100%;
	padding: 100px 0;
}

#title{
	font-size: 5.2em;
	text-align: center;
	line-height: 1;
	color: rgba(102, 48, 144, .75);
}

#subhead {
	font-family: 'Antic Slab', Helvetica, Arial, sans-serif;
	font-style: italic;
	text-align: center;
	font-weight: lighter;
	font-size: 2em;
	letter-spacing: .1em;
}

#projects {
	padding: 20px;
}

#projects img{
	width: 31%;
	margin: 10px;
}