* {
	padding: 0;
	margin: 0;
}

body {
	font-family: Helvetica, Arial, sans-serif;
	font-size: 14px;
	line-height: 1.3;
	color: #444444;	
}

header {
	background-color: rgba(102, 48, 144, .25);
	padding: 20px 0;
	margin-bottom: 10px;
}

h2 {
	font-size: 45px;
}

h3 {
	font-size: 20px;
	font-style: italic;
	font-weight: lighter;
}

nav {
	font-size: 18px;
}

nav a {
	margin-right: 10px;
	margin-left: 10px;
}

section, main {
	background-image: url("../images/background-dots.png");
    background-repeat: repeat;
}

section {
	padding: 20px 0;
}

#welcome {
	background-image: url("../images/hero-image.png");
	background-size: cover;
	width: 100%;
	padding: 100px 0;
}

h1{
	font-size: 77px;
	text-align: center;
	line-height: 1;
	color: rgba(102, 48, 144, .75);
}

#slogan {
	font-style: italic;
	text-align: center;
	font-weight: lighter;
	font-size: 37px;
	margin-bottom: 5px;
}

ul {
	padding-left: 25px;
}

main {
	padding: 20px 0;
}

main img{
	width: 30%;
	margin: 15px;
}

footer {
	background-color: rgba(102, 48, 144, .25);
	font-size: 12px;
	padding: 20px 0;
}

aside {
	float: right;
}

aside img{
	width: 30px;
	padding: 0;
	margin-left: 5px;
}

a {
	text-decoration: none;
	color: rgb(102, 48, 144)
}